Package: mali-midgard-dkms
Source: mali-midgard
Version: 28.0-1
Architecture: all
Maintainer: Wookey <wookey@debian.org>
Installed-Size: 2556
Depends: dkms (>= 2.1.0.0)
Section: contrib/kernel
Priority: optional
Description: Mali kernel driver for midgard hardware in DKMS format.
 This provides the kernel module for the ARM Mali 'midgard' GPU series
 in dkms format. This covers the 6xx and 7xx GPU hardware devices. You
 need this kernel module as well the binary drivers to make the
 hardware work.
